

.link_to_other_page a {
    text-decoration:none;
    font-size: x-large;
    color: blue;
    margin: 50px;
}

.link_to_other_page {
    float: right;
}

a:hover {
    color: purple;
}
.topic {
    text-align: center;
}

.Google {
    background-color: greenyellow;
}