{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <link rel="stylesheet" href="{% static 'simple_google/page.css' %}">
    </head>
    <body bgcolor="white">
        <div class="page">
            <div class="link_to_other_page">
                {% block url %}
                {% endblock %}
            </div> 
            <div id="Topic">
                {% block title %}
                {% endblock %}
            </div>

            <div id="Google">
                {% block search_engine %}
                {% endblock %}
            </div>

        </div>

    </body>
</html>
