{% extends "simple_google/page_temp.html" %}

{% block title %}
    <h1>this page is for image search</h1>
{% endblock %}

{% block search_engine %}
    <form action="https://google.com/search">
        <input type="text" name="q">
        <input type="submit" value="Google Search">
    </form>
{% endblock %}

{% block url %}
    <a href="http://127.0.0.1:8000/simple_google">Google search page</a>
    <br>
    <a href="http://127.0.0.1:8000/simple_google/advance">Google advance page</a> 
{% endblock %}

