

.link_to_other_page > a {
    text-decoration:none;
    font-size: large;
    text-align: center;
    width: 200px;
    position:absolute; 
    right: 10px;
    color: blue;
}

a:hover {
    color: purple;
}
.topic {
    text-align: center;
}