<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}page.css">
    </head>
    <body bgcolor="white">
        <div class="page">
            <div class="link_to_other_page">
                <a href="http://127.0.0.1:8000/My_startpage/b">Google image page</a>
                <br>
                <a href="http://127.0.0.1:8000/My_startpage/a">Google advance page</a>
            </div> 
            <div class="Topic">
                <h1>Welcome, {{ name }}</h1>
            </div>
        </div>

    </body>
</html>
