.page {
    background-color: chartreuse;
    height: 700px;
}


.link_to_other_page > a {
    text-decoration:none;
    font-size: large;
    text-align: center;
    width: 200px;
    position:absolute; 
    right: 10px;
}

a:hover {
    color: purple;
}